//mobile screen
.hacks-header{
    padding: 7rem 2rem 2rem 2rem;

    h1{
        font-family: Quicksand;
        font-size: 22px;
        font-weight: 500;
        color:#BD0300;
    }

    h2{
        font-family: Quicksand;
        font-size: 26px;
        font-weight: 600;
        color:#BD0300;
        margin: 0.5rem 0;
    }

    p{
        font-family: Quicksand;
        font-weight: 500;
        font-size: 18px;
        color: #454543;
        max-width: 90%;
    }
     //icons row
    .hacks-icons{
        display: flex;
        flex-wrap: wrap;
        margin: 2rem 0;
        gap: 1rem;
        justify-content: center;

        img{
            width: 45px;
            animation: sideToSide 2.5s ease-in-out infinite;
        }
    }
   
}

.hacks-container{
    background-color:#FAF2F6;
    padding: 2rem;
     //hacks section
    .hacks-section{

    h3{
        font-family: Quicksand;
        font-size: 20px;
        font-weight: 500;
        color:#BD0300;
    }

    h4{
        font-family: Quicksand;
        font-size: 22px;
        font-weight: 600;
        color:#BD0300;
        margin: 0.2rem 0;
    }

        .hacks-carousel{
            margin: 2rem 0.2rem;
            position: relative;
            display: flex;

            //buttons
            .prev, .next{
                    background: none;
                    border: none;
                    cursor: pointer;
                    margin: 1rem;

                    img{
                        width: 55px;
                    }
                }

            .h-carousel{
                display: flex;
                gap: 1rem;
                overflow: hidden;
                scroll-behavior: smooth;
                width: 100%;
                margin-bottom: 2rem;

                .hack-card{
                    flex: 0 0 100%;
                    max-width: 100%;
                    border-radius: 10px;
                    border: 2px solid #BD0300;
                    background-color: #FAF2F6;
                    padding: 2rem;
                    height: 320px;

                    &:hover{
                        background-color: white;
                    }

                    h4{
                        font-family: Quicksand;
                        font-size: 16px;
                        font-weight:600;
                        color:#454543;
                    }

                     p{
                        font-family: Quicksand;
                        font-size: 16px;
                        font-weight: 400;
                        color:#454543;
                        margin: 1rem 0;
                    }

                    .tip-box{
                        border-top: 1px solid #BD0300;
                        font-family: Quicksand;
                        font-size: 16px;
                        font-weight: 400;
                        margin: 1rem 0;

                        p{
                            font-weight: 500;
                            color:#BD0300
                        }
                    }
                }
            }
        }
    }

}

//tablet screen
@media (min-width: 768px){
    .hacks-header{
        padding: 8rem 4rem;
        text-align: left;

        h1{
            font-size: 24px;
        }

        h2{
            font-size: 30px;
            margin: 1rem 0;
        }

        p{
            font-size: 18px;
            max-width: 50%;
        }

        .hacks-icons{
            justify-content: flex-end;
            margin: 0;

            img{
                width: 65px;
            }
        }
    }

    .hacks-container{
        padding: 4rem;

        .hacks-section{
            .hacks-carousel{
                .h-carousel{
                    .hack-card{
                        max-width: 55%;
                        height: 340px;

                        h4, p{
                            font-size: 18px;
                        }
                    }
                }
            }
    
        }
    }

   
}


//desktop screen 
@media (min-width: 1024px) {
    .hacks-header{
        padding: 7rem 8rem;

        h1{
            font-size: 26px;
        }

        h2{
            font-size: 45px;
        }

        p{
            font-size: 22px;
            max-width: 45%;
        }

        .hacks-icons{
            gap: 1.5rem;
            img{
                width: 90px;
            }
        }
    }
    .hacks-container{
        padding: 7rem 8rem;

        .hacks-section{
            .hacks-carousel{
                .h-carousel{
                    .hack-card{
                        padding: 2.5rem;
                        max-width: 35%;
                        height: 380px;

                        h4, p{
                            font-size: 20px;
                        }
                    }
                }
            }
    
        }
    }

}



//icons animation
@keyframes sideToSide {
    0%{
        transform: translateX(0) rotate(0deg);
    }
    25%{
        transform: translateX(-4px) rotate(-3deg);
    }
    50%{
        transform: translateX(4px) rotate(3deg);
    }
    75%{
        transform: translateX(-2px) rotate(-2deg);
    }
    100%{
        transform: translateX(0) rotate(0deg);
    }
}