.explore-container{
    text-align: center;
    
    h2{
        font-family: Quicksand, sans-serif;
        color: #BD0300;
        padding-top: 4rem;
        padding-bottom: 2rem;
        font-weight: 500;
        font-weight: 26px;
    }
    p{
        font-family: Quicksand, sans-serif;
        color: #BD0300;

    }

}

@media (min-width: 768px){
    .explore-container{
        h2{
            font-size: 30px;
        }
    }
}