.explore-container{
    text-align: center;
    
    h2{
        font-family: Quicksand, sans-serif;
        color: #BD0300;
        padding-top: 60px;
        padding-bottom: 20px;
        font-weight: 400;
    }
    p{
        font-family: Quicksand, sans-serif;
        color: #BD0300;

    }

}
