@import "../styles/global.scss";

//mobile navigation
.header{
    width: 100%;
    border-bottom: 2px solid #BD0300;
    padding: 4rem 1.5rem;
    background-color: #BD0300;

    .nav{
        max-width: 1200px;
        width: 100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 0 20px;
    }
    .logos{
        display: flex;
        align-items: center;

        .icon{
            width: 40px;
        }
        //logo hidden in mobile
        .logo{
            display: none;
        }
    }
    .nav-links{
        list-style: none;
        display: flex;
        gap: 2rem;
        font-family: Quicksand, sans-serif;
        font-weight: 600;
        font-size: 14px;
        
        .silent{
            display: none;
        }
        :hover{
            border-bottom: 1.5px solid white;
        }

        li{
            white-space: nowrap;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}

//tablet and desktop view
@media (min-width: 768px){
    .nav{
        align-items: flex-end;
    }
    .logos{
        position: absolute;

        .icon{
            display: none;
        }
        .logo{
            display: block !important;
            width: 140px;
            height: auto;
        }
    }
    .nav-links {
        justify-content: flex-end;
        display: flex;
        width: 100%;
        gap: 4rem !important;
    
        .silent{
            display: block !important;
        }
    }
}
