@import "../styles/global.scss";

//mobile navigation
.header{
    width: 100%;
    border-bottom: 2px solid #BD0300;
    padding: 40px;

    .nav{
        max-width: 1200px;
        width: 100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 0 20px;
    }
    .logos{
        display: flex;
        align-items: center;

        .icon{
            width: 40px;
        }
        //logo hidden in mobile
        .logo{
            display: none;
        }
    }
    .nav-links{
        list-style: none;
        display: flex;
        gap: 20px;
        font-family: Quicksand, sans-serif;
        font-weight: 500;
        font-size: 14px;

        :hover{
            border-bottom: 1.5px solid #BD0300;
        }

        li{
            white-space: nowrap;
            a{
                text-decoration: none;
                color: #454543;
            }
        }
    }
}

//tablet and desktop view
@media (min-width: 768px){
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .logos{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;

        .icon{
            display: none;
        }
        .logo{
            display: block !important;
            width: 120px;
            height: auto;

        }
    }
    .nav-links {
        position: absolute;
        left: 20px;
        right: 20px;
        display: flex;
        justify-content: space-between;
    
    }
}
