@import "../styles/global.scss";

.search-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    width: 100%;
    
    .search-container{
        position: relative;
        width: 100%;

        input{
            width: 100%;
            padding: 1rem 3rem 1rem 1rem;
            border:2px solid #BD0300;
            border-radius: 25px;
            font-family: Quicksand;
            font-size: 16px;
            background-color: white;
            color: #454543;
        }

         button{
            position: absolute;
            right: 10px;
            top: 39%;
            transform: translateY(-50%);
            padding: 0.9rem 1.2rem;
            border-radius: 30px;
            border: none;
            background-color:#EC8E8D;
            color:white;
            cursor: pointer
        }
    }
    .filters-container{
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        width: 100%;
    
        select {
        padding: 1rem;
        color: white;
        border-radius: 25px;
        border:none;
        font-size: 16px;
        font-weight: 500;
        background-color: #EC8E8D;  
        font-family: Quicksand;
        cursor: pointer;
    }
    .clear-btn{
        font-family: Quicksand;
        font-weight: 500;
        font-size: 16px;
        color: #454543;
        cursor: pointer;
        border: none;
        background: none;
        align-self: center;
        padding-bottom: 0.5rem;
        justify-self: flex-end;
        border-bottom: 1.5px solid #454543;

        &:hover{
            color:#BD0300;
            border-bottom: 1.5px solid #BD0300;
        }
    }


    @media (min-width: 768px){
        flex-direction:row;
        justify-content:center;

        select{
            width: 23%;
        }
    }
}

}

@media(min-width: 768px){
  .search-bar{
    .search-container{
        width: 82%;
    }
  }
}